<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1>Welcome to the Text Analyzer. Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='width: 546px; height: 193px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation <br>
    <input type="checkbox" name="fullcaps">UPPERCASE <br>
    <input type="checkbox" name="newlineremover">New Line Remover <br>
    <input type="checkbox" name="spacelineremover">Spcae Line Remover <br>
    <button type="Submit">Analyze Text</button>
</form>
</body>
</html>